<footer class="footer mt-auto py-3 bg-light">
    <div class="container footer-stick ">
        <span class="text-muted">
           Nafrin Ilma Abdullah © <%= new Date().getFullYear();%>
        </span>
    </div>
</footer>