<header class="container mb-3">
    <div class="row">
        <div class="col-md-12 header-sticky border-left border-right border-bottom">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo" href="/">
                        <img src="images/logo.png" alt="" width="160px" height="160px">
                    </a>
                </div>
                <nav class="navbar col-md-offset-4 col-md-8 col-sm-offset-1 col-sm-11 hidden-xs">
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center text-small">
                        <li>
                            <a href="/" class="nav-link text-secondary">Home</a>
                        </li>
                        <li>
                            <a href="/about-me" class="nav-link text-secondary">About</a>
                        </li>
                        <li>
                            <a href="/projects" class="nav-link text-secondary">Projects</a>
                        </li>
                        <li>
                            <a href="/services" class="nav-link text-secondary">Services</a>
                        </li>
                        <li>
                            <a href="/contact-me" class="nav-link text-secondary">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>