<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/basicStyles') %>
    <title><%= locals.title %> </title>
</head>
<body>
    <%- include('partials/header') %> 
    <!--main content-->
    <main>
        <div class="card-body">
            <div class="alert alert-success" role="alert">
                About me!
            </div>
            <div class="container">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 >Hello there!</h4>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="about-image">
                                            <img src="images/image for profile pic.jpg" alt="" width="420px" height="360px"> 
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <p>
                                            My name is Nafrin Ilma Abdullah and I am an aspiring software developer. I am an international student from Sri Lanka and this is my 2nd year student at Centennial College. I have grown to enjoy programming very much and hoping to graduate with a first class degree. If you're interested in learning more about me, please feel free to check out my <a href="documents/Nafrin Ilma Resume project.docx" target="_blank" class="resume_btn">resume</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>