<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/basicStyles') %>
    <title><%= locals.title %> </title>
</head>
<body>
    <%- include('partials/header') %> 
    <!-- Main Content -->
    <main>
        <div class="card-body">
            <div class="alert alert-success" role="alert">
                Contact me!
            </div>
            <div class="row mb-3">
        <div class="container">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form_container">
                                <h3>Want to get in touch?</h3>
                                <p>
                                    Send me a message and we'll get back to you soon!
                                </p>
                                <form action="">
                                    <input id="fname" class="name mb-2" type="text" placeholder="First name" required>
                                
                                    <input id="lname" input class="name mb-2" type="text" placeholder="Last name" required><br>
                                
                                    <input class="mb-2" id="email" input type="email" placeholder="Email" required><br>
                                
                                    <input class="mb-2" id="phone" input type="tel" placeholder="Phone"><br>
                                
                                    <input class="mb-2" id="message" input type="textarea" placeholder="Message" required><br>
                                    <button class="submit btn btn-sm btn-primary" type="sumbit" >Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <%- include('partials/footer') %> 
</body>
</html>