<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('partials/basicStyles') %>
        <title><%= locals.title %></title>
    </head>
    <body>
        <main>
            <div class="card-body text-center">
                <div class="container">
                    <div class="row" style="justify-content: center;">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header" style="border-bottom: 0;">
                                    <img src="images/404-error.png" alt="" width="280px">
                                    <h4 class="mb-3">Page Not Found!</h4>
                                </div>
                                <div class="card-body">
                                    <a href="/" class="btn btn-danger">Go Back!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>