<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/basicStyles') %>
    <title><%= locals.title %> </title>
</head>
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-success" role="alert">
                                Welcome to My Portfolio!
                            </div>
                            <h4>Mission Statement</h4>
                            <p>From the beginning, our mission has been to organize the world's information and make it universally accessible and useful for everyone. Today, people around the world have different goals and needs for their companies. We provide the perefect solution by creating custom websites and software solutions to accomodate all our customers needs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <a href="/about-me" style="text-decoration: none;">
                                <div class="card bg-light text-center">
                                    <div class="card-body">
                                        <h4 class="card-title">About Me</h4>
                                        <div class="row">
                                            <div>
                                                <img class="img-center img-responsive margin-top icon" src="images/woman.png" alt="About Me Icon" width="100px" height="100px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="/services" style="text-decoration: none;">
                                <div class="card bg-light text-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Services</h4>
                                        <div class="row">
                                            <div>
                                                <img class="img-center img-responsive margin-top icon" src="images/hosting-services.png" alt="About Me Icon" width="100px" height="100px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="/projects" style="text-decoration: none;">
                                <div class="card bg-light text-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Projects</h4>
                                        <div class="row">
                                            <div>
                                                <img class="img-center img-responsive margin-top icon" src="images/project-management.png" alt="About Me Icon" width="100px" height="100px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>