<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/basicStyles') %>
    <title><%= locals.title %> </title>
</head>
<body>
    <%- include('partials/header') %> 
   
    <main>
        <div class="card-body">
            <div class="alert alert-success" role="alert">
                My Projects!
            </div>
            <div class="row mb-3">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <a style="text-decoration: none;">
                        <div class="card bg-light text-center">
                            <div class="card-body">
                                <h4 class="card-title">Bug Smasher Game</h4>
                                <div class="row">
                                    <div>
                                        <img class="img-center img-responsive margin-top icon" src="images/bug smasher game.png" alt="Project 1" width="360px" height="320px">
                                    </div>
                                    <p>
                                       This was one of my assignments for semester 2 in Client side web development. The requirements were to create a bug smasher game where the bug will keep changing positions randomly. The player will have to click on the bug for the score to increase. The higher the score gets, faster the bug changes position. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a  style="text-decoration: none;">
                        <div class="card bg-light text-center">
                            <div class="card-body">
                                <h4 class="card-title">Photo gallery</h4>
                                <div class="row">
                                    <div>
                                        <img class="img-center img-responsive margin-top icon" src="images/photo gallery.png" alt="Project 2" width="360px" height="320px">
                                    </div>
                                    <p>
                                        This was also one of my assignments for semester 2 in Client side web development. The requirements were to create a photo gallery in which you can add images to the favourites folder. You should also be able to delete images if you wish. You can also expand and minimise the limit of photos displayed.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a  style="text-decoration: none;">
                        <div class="card bg-light text-center">
                            <div class="card-body">
                                <h4 class="card-title">Table builder</h4>
                                <div class="row">
                                    <div>
                                        <img class="img-center img-responsive margin-top icon" src="images/table builder.png" alt="Project 3" width="360px" height="320px">
                                    </div>
                                    <p>
                                        This was my second assignment for semester 2 in Client side web development. The requirements were to create a project in which you can customise the rows and columns to create tables. This was one of the easiest projects i've done.
                                     </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
    <%- include('partials/footer') %> 
</body>
</html>