<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/basicStyles') %>
    <title><%= locals.title %> </title>
</head>
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="card-body">
            <div class="alert alert-success" role="alert">
                My services!
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <a style="text-decoration: none;">
                            <div class="card bg-light text-center">
                                <div class="card-body">
                                    <h4 class="card-title">Database management</h4>
                                    <div>
                                        <img class="img-center img-responsive margin-top icon" src="images/data managment.png" alt="Project 1" width="360px" height="320px">
                                    </div>
                                    <p class="card_text">Database design and management for Oracle SQL Developer and MySQL Server</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a  style="text-decoration: none;">
                            <div class="card bg-light text-center">
                                <div class="card-body">
                                    <h4 class="card-title">Web Development.</h4>
                                    <div>
                                        <img class="img-center img-responsive margin-top icon" src="images/web-development.png" alt="Project 1" width="360px" height="320px">
                                    </div>
                                    <p class="card_text">Full-stack web application development using HTML, CSS, JavaScript, Node.JS, Angular and MongoDB</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a  style="text-decoration: none;">
                            <div class="card bg-light text-center">
                                <div class="card-body">
                                    <h4 class="card-title">Desktop development</h4>
                                    <div>
                                        <img class="img-center img-responsive margin-top icon" src="images/desktop managment .png" alt="Project 1" width="360px" height="320px">
                                    </div>
                                    <p class="card_text">Full-stack desktop applications using C# and Java</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>